<div id="about">
  <h2>About Me</h2>
  <div class="imageTextContainer">
    <p>
      Hello, My name is Nathan! I am a second-year Information Technology
      student at the University of Cincinnati. I am pursuing my BS in
      Information Technology with a focus on Software Application Development. I
      will also graduate with my Master of Business Administration thanks to the
      prestigious University of Cincinnati IT Accelerated Program. While
      completing my MBA I will learn broad business concepts from an IT
      perspective and apply that specialized view to problem-solving,
      communication, and hands-on skills. I will also receive a minor in
      Computer Science. With this, I will enhance my theoretical knowledge and
      dive deep into the algorithms that drive today's computers. <br /><br />

      I have been invested in technology my entire life. My dad worked in IT so
      I was always in and out of his work at a young age exploring the server
      room and different wiring closets. I started taking different engineering
      classes at the age of 12 and it wasn't until my sophomore year of high
      school that I fell in love with coding. From that point on I took every
      computer science class available and would work on personal coding
      projects. Now at the University of Cincinnati, I can do what I love every
      day and expand my knowledge of today's technology.
    </p>
    <div class="images slideshow-container">
      <img
        class="mySlides w3-animate-fading"
        src="../../../assets/profile-pictures/IMG1.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="../../../assets/profile-pictures/IMG2.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="../../../assets/profile-pictures/IMG3.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="../../../assets/profile-pictures/IMG4.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="../../../assets/profile-pictures/IMG5.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="../../../assets/profile-pictures/IMG6.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="../../../assets/profile-pictures/IMG7.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="../../../assets/profile-pictures/IMG8.JPG"
        style="width: 90%; height: 90%"
      />
    </div>
  </div>
</div>
