#about {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

#about h2 {
  color: azure;
  margin-bottom: 50px;
  text-align: center;
  font-size: 500%;
  text-shadow: 0px 4px black;
}

.imageTextContainer {
  display: flex;
  gap: 2em;
  align-items: center;
}

.text-content {
  flex: 1;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.6;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 0.5em;
}

.slideshow-container {
  flex: 1;
  position: relative;
  text-align: center;
}

.slideshow-container img {
  display: none;
  border: 0.75em solid #fff;
  border-radius: 0.75em;
  width: 100%;
}

.slideshow-container img.image-active {
  display: block;
}

@media (max-width: 1225px) {
  .imageTextContainer {
    flex-direction: column;
    text-align: center;
  }

  .text-content {
    width: 90%;
    margin: 0 auto;
  }

  .slideshow-container {
    width: 90%;
    margin: 2em auto 0;
  }
}

@media (max-width: 505px) {
  .slideshow-container img {
    width: 75%;
    margin: 0 auto;
  }
}
