<div id="about">
  <h2>About Me</h2>
  <div class="imageTextContainer">
    <div class="text-content">
      <p>
        I’m a senior at the University of Cincinnati pursuing a BS in Software
        Development, with a minor in Computer Science, and working toward an MBA
        through the University of Cincinnati Accelerated Program.
      </p>
      <p>
        Ever since I can remember, I've been deeply invested in technology. My
        father's work in IT introduced me to various areas within his office at
        a young age. At the age of 12, I began taking engineering classes, but
        it wasn't until my sophomore year of high school that I truly fell in
        love with coding.
      </p>
      <p>
        I recently completed my fifth and final co-op as a Software Developer
        Intern at London Computer Systems. In this role, I am contributing to
        the development of the company's flagship product,
        <i>Rent Manager Express</i>, a web-based application for property
        management.
      </p>
    </div>
    <div class="slideshow-container">
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG1.JPG"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG2.JPG"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG3.JPG"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG4.JPG"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG5.JPG"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG6.JPG"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG7.JPG"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG8.JPG"
      />
    </div>
  </div>
</div>
