<div id="about">
  <h2>About Me</h2>
  <div class="imageTextContainer">
    <p>
      I'm a third-year Information Technology student at the University of
      Cincinnati. I am pursuing my BS in Information Technology with a focus on
      Software Application Development. Additionally, I have the opportunity to
      graduate with a Master of Business Administration through the esteemed
      University of Cincinnati IT Accelerated Program. While completing my MBA I
      will learn broad business concepts from an IT perspective and apply that
      specialized view to problem-solving, communication, and hands-on skills.
      Complementing my studies, I will also obtain a minor in Computer Science
      to further enhance my theoretical knowledge and dive deep into the
      algorithms that drive today's computers. <br /><br />

      Ever since I can remember, I've been deeply invested in technology. My
      father's work in IT introduced me to various areas within his office at a
      young age. At the age of 12, I began taking engineering classes, but it
      wasn't until my sophomore year of high school that I truly fell in love
      with coding. Since then, I have enrolled in every computer science class
      available and continuously pursued personal projects. Now at the
      University of Cincinnati, I can do what I love every day and expand my
      knowledge of today's technology. <br /><br />

      During the summer, I had the valuable opportunity to work as a software
      developer intern at London Computer Systems. In this role, I contributed
      to the development of the company's flagship product,
      <i>Rent Manager Express</i>, a web-based application for property
      management. I developed on the frontend using the Angular framework,
      implemented backend functionality using C# and ASP.NET, and utilized MySQL
      and HeidiSQL for efficient database management. <br /><br />

      I was given the privilege to work on many different projects, including
      updating our 'CAM Reconciliation' page, which is used by thousands of
      users every day. Property managers will now be able to easily compare CRE
      with tenant charges, ensuring accurate billing. I was also able to
      implement a 'Tenant Listbox' page for customers' personal preferences,
      allowing users the ability to personalize the info displayed in the tenant
      listboxes.
    </p>

    <div class="images slideshow-container">
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG1.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG2.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG3.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG4.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG5.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG6.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG7.JPG"
        style="width: 90%; height: 90%"
      />
      <img
        class="mySlides w3-animate-fading"
        src="./assets/profile-pictures/IMG8.JPG"
        style="width: 90%; height: 90%"
      />
    </div>
  </div>
</div>
