#about {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

#about h2 {
  color: darkgrey;
  font-size: 50px;
  text-align: left;
  text-shadow: 0px 2px azure;
  margin-bottom: -0.1em;
  width: fit-content;
  border-bottom: 0.05em solid azure;
}

#about p {
  color: azure;
  font-size: 20px;
  width: 50%;
  text-align: left;
}

.imageTextContainer {
  display: flex;
}

.mySlides {
  display: inline-block;
}

.slideshow-container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 30em;
  float: right;
}

.slideshow-container img {
  display: none;
  border-style: solid;
  border-width: 0.75em;
  border-color: azure;
  border-radius: 0.75em;
  margin-left: 1em;
}

.slideshow-container img.image-active {
  display: block;
  width: 100%;
}

.active,
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1225px) {
  .imageTextContainer {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .images {
    /* display: none; */
    float: none;
    margin-top: 2em;
  }

  .slideshow-container {
    /* display: none; */
    float: none;
    margin-top: 2em;
  }

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #about h2 {
    text-align: center;
  }

  #about p {
    margin-top: 1em;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .break {
    display: block;
  }
}

@media (max-width: 505px) {
  img {
    width: 75% !important;
    height: 75% !important;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }

  .slideshow-container img.image-active {
    width: fit-content;
  }

  .mySlides {
    width: fit-content;
  }

  .slideshow-container {
    width: fit-content;
    float: none;
    position: relative;
    margin: 0 auto;
  }

  .slideshow-container img {
    width: fit-content;
    display: block;
    margin: 0 auto;
  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
