.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: azure;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 15px;
  margin: 20px;
}

.topnav a:hover {
  color: aquamarine;
  text-decoration: underline;
}

.resume {
  float: right;
  border: 2px solid aquamarine;
  border-radius: 5px;
  padding: 10px;
  color: aquamarine;
  background-color: transparent;
  margin: 15px;
}

.resume:hover {
  background-color: #2b4c63;
  font-weight: bold;
  padding: 10px 9px;
}

.home {
  text-align: left;
  margin-top: 200px;
  margin-bottom: 500px;
  max-width: 41em;
  margin-left: auto;
  margin-right: auto;
}

.home h3 {
  color: darkgrey;
  font-size: 30px;
  margin-bottom: -65px;
}

.home h1 {
  color: azure;
  font-size: 100px;
  margin-bottom: -5px;
  margin-left: -0.05em;
  overflow: hidden;
  border-right: 0.1em solid aquamarine;
  width: 0;
  white-space: nowrap;
  animation: typing 3s forwards;
}

.name-container {
  display: inline-block;
  width: fit-content;
}

@keyframes typing {
  0% {
    width: 0;
  }
  99% {
    width: 100%;
    border-right: 0.1em solid aquamarine;
  }
  100% {
    width: 100%;
    border: transparent;
  }
}

.home h4 {
  color: aquamarine;
  margin-bottom: 25px;
  font-size: 20px;
}

.home button {
  background-color: transparent;
  border: none;
  margin: 4px;
  height: 23px;
}

.home img {
  width: 20px;
  height: 20px;
}

.buttons {
  display: inline-block;
  height: 31px;
}

.btn-group {
  margin-left: -0.5em;
}

@media (max-width: 676px) {
  .home {
    max-width: 30.75em;
  }

  .home h3 {
    font-size: 22.5px;
    margin-bottom: -48.75px;
  }

  .home h1 {
    font-size: 75px;
    margin-bottom: -3.75px;
  }

  .home h4 {
    font-size: 15px;
    margin-bottom: 18.75px;
  }
}

@media (max-width: 517px) {
  .home {
    max-width: 23em;
  }

  .home h3 {
    font-size: 16.875px;
    margin-bottom: -36.5px;
  }

  .home h1 {
    font-size: 56.25px;
    margin-bottom: -2.8px;
  }

  .home h4 {
    font-size: 11.25px;
    margin-bottom: 14px;
  }

  .topnav a {
    margin: 9px;
  }

  .resume {
    margin: 8px;
    padding: 6px;
  }

  .resume:hover {
    padding: 6px 5px;
  }
}

@media (max-width: 400px) {
  .home {
    max-width: 17.25em;
  }

  .home h3 {
    font-size: 18px;
    margin-bottom: -27.4px;
  }

  .home h1 {
    font-size: 47px;
    margin-bottom: -10.1px;
  }

  .home h4 {
    font-size: 14px;
    margin-bottom: 10.5px;
  }
}
