<div class="topnav">
  <a href="#about" (click)="scrollToElement($event, 'about')">About</a>
  <a href="#projects" (click)="scrollToElement($event, 'projects')">Projects</a>
  <a href="#skills" (click)="scrollToElement($event, 'skills')">Skills</a>
  <a href="#contact" (click)="scrollToElement($event, 'contact')">Contact</a>
  <button
    class="resume"
    onclick="window.open('./assets/Resume.pdf', '_blank');"
  >
    Resume
  </button>
</div>

<div class="home">
  <h3>Hey there, I'm</h3>
  <div class="name-container">
    <h1>Nathan Burns</h1>
  </div>
  <h4>Software Development Student</h4>
  <div class="btn-group">
    <ng-container *ngFor="let link of socialMediaLinks; let i = index">
      <div
        class="buttons"
        [ngStyle]="{ 'animation-delay': 3.2 + i * 0.2 + 's' }"
      >
        <button type="submit">
          <a href="{{ link.url }}" target="_blank">
            <img
              [src]="link.iconSrc"
              (mouseover)="link.iconSrc = link.iconSrcHover"
              (mouseout)="link.iconSrc = link.iconSrcDefault"
              [alt]="link.altText"
            />
          </a>
        </button>
      </div>
    </ng-container>
  </div>
</div>
