html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /*background-color: #173042;*/
  background: linear-gradient(
    160deg,
    #173042 0%,
    #214a59 25%,
    #2c6671 50%,
    #357c84 75%,
    #3f9599 100%
  );
}

html,
body {
  width: 100% !important;
  min-width: 320px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}
