<div id="skills">
  <h2>Skills</h2>

  <div class="content">
    <div class="skill-category">
      <div class="skill-box">
        <div class="skill-box-header">
          <h1>Programming Languages</h1>
        </div>
        <div class="skill-box-content">
          <div id="background">
            <div
              class="row"
              *ngFor="let language of programmingLanguages; let i = index"
            >
              <div id="logo-holder" [attr.data-index]="i">
                <img
                  class="image"
                  [src]="language.imageSrc"
                  [alt]="language.imageAlt"
                />
                <div class="text">{{ language.skillName }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="skill-category">
      <div class="skill-box">
        <div class="skill-box-header">
          <h1>Frameworks & Libraries</h1>
        </div>
        <div class="skill-box-content">
          <div id="background">
            <div
              class="row"
              *ngFor="let framework of frameworks; let i = index"
            >
              <div id="logo-holder" [attr.data-index]="i">
                <img
                  class="image"
                  [src]="framework.imageSrc"
                  [alt]="framework.imageAlt"
                />
                <div class="text">{{ framework.skillName }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="skill-category">
      <div class="skill-box">
        <div class="skill-box-header">
          <h1>Database</h1>
        </div>
        <div class="skill-box-content">
          <div id="background">
            <div class="row" *ngFor="let database of databases; let i = index">
              <div id="logo-holder" [attr.data-index]="i">
                <img
                  class="image"
                  [src]="database.imageSrc"
                  [alt]="database.imageAlt"
                />
                <div class="text">{{ database.skillName }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="skill-category">
      <div class="skill-box">
        <div class="skill-box-header">
          <h1>Software</h1>
        </div>
        <div class="skill-box-content">
          <div id="background">
            <div class="row" *ngFor="let software of softwares; let i = index">
              <div id="logo-holder" [attr.data-index]="i">
                <img
                  class="image"
                  [src]="software.imageSrc"
                  [alt]="software.imageAlt"
                />
                <div class="text">{{ software.skillName }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="skill-category">
      <div class="skill-box">
        <div class="skill-box-header">
          <h1>Operating Systems</h1>
        </div>
        <div class="skill-box-content">
          <div id="background">
            <div
              class="row"
              *ngFor="let operatingSystem of operatingSystems; let i = index"
            >
              <div id="logo-holder" [attr.data-index]="i">
                <img
                  class="image"
                  [src]="operatingSystem.imageSrc"
                  [alt]="operatingSystem.imageAlt"
                />
                <div class="text">{{ operatingSystem.skillName }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
