#skills {
  margin-top: 6000px;
  text-align: center;
}

#skills h2 {
  color: azure;
  font-size: 6em;
  text-shadow: 0px 4px darkgray;
}

#skills h1 {
  font-size: 2em;
  display: inline-block;
  color: azure;
  text-shadow: 0 0 7px black;
}

.content {
  color: azure;
  list-style: none;
  margin-top: -2em;
}

.row {
  display: inline;
}

#background {
  background-color: darkgrey;
  border: 5px solid azure;
  border-radius: 3em;
  padding: 1em;
  box-shadow: 0px 0px 1em black;
  width: 75%;
  margin: 0 auto;
}

#title {
  width: 30em;
  margin-top: -5.5em;
  height: 0.3em;
  background-color: azure;
  border: none;
  box-shadow: 0px 2px darkgrey;
  margin-bottom: 7em;
}

#logo-holder {
  position: relative;
  display: inline-block;
  width: 10%;
  margin-bottom: 24px;
  margin-left: 0px;
  text-align: center;
}

#logo-holder .image {
  width: 45%;
  margin-bottom: -1.7em;
}

.image {
  background-color: azure;
  border: 5px solid azure;
  box-shadow: 0px 0px 0.5em black;
  border-radius: 5%;
}

#logo-holder .image,
#logo-holder .text {
  transition: opacity 0.5s ease-in-out;
}

#logo-holder .text {
  position: absolute;
  top: 60%;
  left: 10%;
  font-weight: bold;
  color: azure;
  font-size: 110%;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0.75em;
  text-shadow: 0 0 1px darkslategrey;
}

#logo-holder:hover .image {
  opacity: 0;
}

#logo-holder:hover .text {
  opacity: 1;
}

@media screen and (max-width: 2150px) {
  #skills {
    margin-top: 5500px;
  }
}

@media screen and (max-width: 2000px) {
  #skills {
    margin-top: 5000px;
  }
}

@media screen and (max-width: 1775px) {
  #skills {
    margin-top: 4500px;
  }
}

@media screen and (max-width: 1600px) {
  #skills {
    margin-top: 4000px;
  }
}

@media screen and (max-width: 1080px) {
  #skills {
    margin-top: 0px;
  }

  .row {
    margin-left: 0em;
    margin-right: 0em;
  }

  #background {
    width: 80%;
    margin-bottom: -4em;
  }

  #logo-holder {
    width: 20%;
    margin-bottom: 2em;
    margin-top: 1em;
  }

  #logo-holder .text {
    font-size: 160%;
  }
}

@media screen and (max-width: 650px) {
  #logo-holder {
    width: 50%;
    margin-bottom: 2em;
    margin-top: 1em;
  }

  #title {
    width: 17em;
  }
}
